@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/font/font400.woff2') format("woff2");
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/font/font500.woff2') format("woff2");
}